# Dependencies
node_modules/

# Environment
.env

# Uploads
uploads/

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/seed.js

# Build
dist/

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
